################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NIMBOLE.Entities/bin/Debug
/NIMBOLE.Entities/obj/Debug
/NIMBOLE.UI/bin/Kendo.Mvc.xml
*.cache
*.xml
NIMBOLE.UI/NIMBOLE.UI.csproj.user
/NIMBOLE.Service/bin
/NIMBOLE.UI/obj/Debug
/NIMBOLE.Models/obj/Debug
/NIMBOLE.Models/bin/Debug
/NIMBOLE.GlobalResources/obj/Debug
/NIMBOLE.GlobalResources/bin/Debug
/NIMBOLE.Common/bin/Debug
*.user
*.suo
/NIMBOLE.UI/bin
/Nimbole.Azure.API
/NIMBOLE.Entities/obj/Release
/NIMBOLE.GlobalResources/obj/Release/TempPE
/NIMBOLE.Models/obj/Release
/NIMBOLE.UI/obj/Release/CSAutoParameterize
/NIMBOLE.UI/obj/Release/Package/PackageTmp
/NIMBOLE.UI/obj/Release/TempPE
/NIMBOLE.UI/obj/Release
