<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nimbolewebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nimbolewebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Nimbolewebapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$Nimbolewebapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="NimboleSuperadminDashboardEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESUPERADMINDASHBOARD;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESUPERADMINDASHBOARD;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NimboleSuperadminDashboardEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ogi6l5c2pz.database.windows.net,1433;initial catalog=NIMBOLESUPERADMINDASHBOARD;integrated security=False;user id=dbuser@ogi6l5c2pz;password=Nimbole123!;multipleactiveresultsets=True;connect timeout=30;encrypt=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NimboleStagingEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESTAGING;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" Name="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESTAGING;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESTAGING;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NimboleStagingEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ogi6l5c2pz.database.windows.net,1433;initial catalog=NIMBOLESTAGING;integrated security=False;user id=dbuser@ogi6l5c2pz;password=Nimbole123!;multipleactiveresultsets=True;connect timeout=30;encrypt=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NImboleDBCSRpt" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESTAGING;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESTAGING;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NImboleDBCSRpt_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESTAGING;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NImboleDBCSRpt-Web.config Connection String">
      <ParameterValue>data source=tcp:ogi6l5c2pz.database.windows.net,1433;initial catalog=NIMBOLESTAGING;integrated security=False;user id=dbuser@ogi6l5c2pz;password=Nimbole123!;connect timeout=30;encrypt=True;application name=EntityFramework;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NimboleStagingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ogi6l5c2pz.database.windows.net,1433;Initial Catalog=NIMBOLESTAGING;Integrated Security=False;User ID=dbuser@ogi6l5c2pz;Password=Nimbole123!;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NimboleSuperadminDashboardEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/;provider=System.Data.SqlClient;provider connection string="data source=tcp:ogi6l5c2pz.database.windows.net,1433;initial catalog=NIMBOLESUPERADMINDASHBOARD;integrated security=False;user id=dbuser@ogi6l5c2pz;password=Nimbole123!;connect timeout=30;encrypt=True;application name=EntityFramework;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>