@model NIMBOLE.Models.Models.ContactExcelImport
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "NIMBOLE | Import";
}

@using (Html.BeginForm())
{

    <!-- start: PAGE HEADER -->
    <div class="row">
        <div class="col-sm-12">
            <!-- end: STYLE SELECTOR BOX -->
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li>
                    <i class="clip-home-3"></i>
                    <a href="~/Admin/Dashboard">
                        Home
                    </a>
                </li>
                <li>
                    <i class="clip-user-2"></i>
                    <a href="~/Contacts/Index">
                        Contacts Center
                    </a>
                </li>
                <li class="active">
                    &nbsp;Google Contact Import
                </li>
                <li class="search-box"></li>
            </ol>
            <div class="page-header">
                <h1>Google Contact Import <small>overview &amp; acions </small></h1>
            </div>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>


    <!-- end: PAGE HEADER -->
    
}


